@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', Sans Serif;
}
.bg-custom{
  background-color: rgba(56, 28, 134, 0.541);
  padding: 10px;
  /* max-height: calc(100vh - 180px); */
}
.texto-color {
  color: rgb(238, 231, 237);
  font-family: 'Rubik', Sans Serif;
}

/* main {
  height: calc(100vh - 250px);
} */
main {
  flex-grow: 1; /* Para que ocupe el espacio restante en la columna principal*/
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

body {
  display: flex;
  /* width: 100%; */
  width: 100%;
  /* height: auto; */
  background-image: url(../images/DSC_3681_Large_edited.png);
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  /* height: 100%; */
}

.parrafos {
  /* max-width: 600px; */
  text-align: justify; /* Alinea el texto justificado */
  padding: 20px; /* Agrega un relleno para mejorar la legibilidad */
  max-height: calc(100vh - 200px);/* Ajusta según la altura del header y footer, y el padding
  */
}

.scroll-container {
  max-height: calc(100vh - 170px);
  /* max-width: 74vh; */
  overflow-y: auto;
}

.nico {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* Para mantener la proporción de la imagen */
  border-radius: 10px; /* Agrega esquinas redondeadas a la imagen si lo deseas */
}





.navbar-custom {
  padding-top: 0px !important;
}

.navbar-brand img {
  height: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(109, 85, 165, 0.0);
  text-align: right;
  padding: 10px;
}

.redes-sociales img {
  width: 30px;
  /* Ajusta el tamaño de los iconos según tus necesidades */
  margin-left: 10px;
  /* Ajusta el espacio entre los iconos */
  filter: brightness(0) invert(1);
  /* Aplica el filtro para cambiar a blanco */
}